<!--login form-->
<div class="login-container">
  <form class="login-form" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <h2>Login</h2>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" formControlName="username" required />
      <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="error">
        Username is required.
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password" required />
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
        Password is required.
      </div>
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>
